.btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}
.star {
    font-size: 24px;
    color: gray; /* 기본 색상 */
    cursor: pointer;
  }
  
  .star.active {
    color: gold; /* 선택된 색상 */
  }
  