{% extends 'main/base.html' %}

{% block title %}Create New Post{% endblock %}
{% load static %}

{% block content %}
<section class="userInfo">
    <h1>Create a New Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image" required />
        <label for="content">Content:</label>
        <textarea name="content" id="content" rows="4" required></textarea>
        <button type="submit" class="userInfo__follow">Submit</button>
    </form>
</section>
{% endblock %}
