<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/movie_review.css"/>
    <title>My movie reviews</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'movie:review_list2' %}">My movie reviews</a></h1>
        <a href="{% url 'movie:create_post' %}">Add a New review</a>
    </header>

    <h1>영화 리뷰 작성</h1>

    <!-- POST 방식으로 데이터를 전송하는 폼 -->
    <form method="POST">
        {% csrf_token %}
        
        <label for="title">영화 제목:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="year">개봉년도:</label>
        <input type="number" id="year" name="year" required><br><br>
        
        <label for="genre">장르:</label>
        <select id="genre" name="genre">
            <option value="액션">액션</option>
            <option value="드라마">드라마</option>
            <option value="코믹">코믹</option>
            <option value="호러">호러</option>
            <option value="로맨스">로맨스</option>
            <option value="SF">SF</option>
        </select><br><br>
        
        <label for="star">별점:</label>
        <input type="number" id="star" name="star" min="0" max="5" step="0.1" required><br><br>
        
        <label for="running_time">러닝타임 (분):</label>
        <input type="text" id="running_time" name="running_time" required><br><br>
        
        <label for="text">리뷰:</label><br>
        <textarea id="text" name="text" rows="4" cols="50" required></textarea><br><br>
        
        <label for="pd">감독:</label>
        <input type="text" id="pd" name="pd" required><br><br>
        
        <label for="actors">주연 배우:</label>
        <input type="text" id="actors" name="actors" required><br><br>
        
        <button type="submit">리뷰 작성</button>
    </form>
    
    <br>
    <a href="{% url 'movie:review_list2' %}">리뷰 목록으로 돌아가기</a>

</body>
</html>
